@tailwind base;
@layer base {
    ul,
    ol {
        list-style: revert;
    }

    blockquote {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        unicode-bidi: isolate;
        border-left: 3px solid rgba(61, 37, 20, 0.12);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }
}
h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg;
}
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.tiptap {
    outline: none;
    height: 100%;
}
